@charset "utf-8";

#wrap{width: 100%;}

header{width: 100%; height: 100px;}

.visual_slide{height: 686px; width: 100%; }

.highlights{height: 1326px;width: 100%; }

.video{height: 948px;width: 100%;}

.rehau{height: 1069px;width: 100%;}

.flat{height: 606px;width: 100%;}

.store{height: 417px;width: 100%;}

.brand{height: 0px;width: 100%;}

footer{width: 100%; height: 300px; }